<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>GymScore!</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/mycss.css" rel="stylesheet">

    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://localhost:8000/">GymScore!</a>
        </div>
        <div class="collapse navbar-collapse" id="Navbar">
          <ul class="nav navbar-nav navbar-center">
            <li><a href="http://localhost:8000/gym/10/">Perfil</a></li>
            <li><a href="http://localhost:8000/gym/10/editar">Actualizar</a></li>
            <li><a href="/gym/tablas/">Lideres</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://localhost:8000/registro/"><span class="glyphicon glyphicon-user"></span> ¡Regístrate!</a></li>
            <li><a href="http://localhost:8000/registro/"><span class="glyphicon glyphicon-log-in"></span> Inicia sesión</a></li>
          </ul>
        </div>
      </div>
    </nav>

          {%block formsearch%}

  {%endblock%}
</form>




              <tbody>
                {%block content%}


                {%endblock %}  <!-- Aqui va algo -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
