{% extends "base2.html" %}
{% load static %}
{%block content%}
{% load static %}

<div class="top-content">
    <div class="inner-bg">
        <div class="container">
                    <div class="description">
                      <p><strong style="color:#7ca1e4">¡Excelente verte por aqui para que nos presumas tu progreso!</strong>
                      </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                  <div class="form-top">
                    <div class="form-top-left">
                      <h2 style="color:#7ca1e4">Actualiza tu información.</h2>
                        <p>Algunos datos no se pueden cambiar como la fecha de inicio..</p>
                    </div>
                    <div class="form-top-right">
                      <img src="../static/img/logo.png">

                    </div>
                    </div>
                    <div class="form-bottom">

              {%include "form.html" with form=form submit_btn="Actualizar"%}
<br>
<br>
<a href="http://127.0.0.1:8000" align="center" style="color:#7ca1e4">Regresar a la página principal</a></h3>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
