{% extends "base2.html" %}

{%block content%}

<div class="top-content">
    <div class="inner-bg">
        <div class="container">
                    <div class="description">
                      <p>Hola, de nuevo <strong style="color:#7ca1e4"x>¿Listo para superarte de nuevo?</strong>
                      </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                  <div class="form-top">
                    <div class="form-top-left">
                      <h2 style="color:#7ca1e4">¡Inicia sesion!</h2>
                        <p>Confiamos en ti, solo queremos asegurarnos.</p>
                    </div>
                    <div class="form-top-right">
                      <img src="../static/img/logo.png">

                    </div>
                    </div>
                    <div class="form-bottom">

              {%include "form0.html" with form=form submit_btn="Entrar"%}
<br>
<br>
<a href="http://127.0.0.1:8000" align="center" style="color:#7ca1e4">Regresar a la página principal</a></h3>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
