<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Login Form Template</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
        <link href="/static/assets/img/backgrounds/1.jpg">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/form-elements.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/style.css" rel="stylesheet">
</head>
        {%block content%}

        {%endblock%}
    <script src="/static/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/jquery.backstretch.min.js"></script>
    <script src="/static/assets/js/scripts.js"></script>
  </body>
</html>
